<% layout('/layouts/adminboilerplate') -%>
<link rel="stylesheet" href="/css/examDash.css">


<div class="container ms-4">
  <h1>Examination list</h1>
  <div id="accordion">
    <% for(let level of uniqueLevels) { %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= level %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse<%= level %>" aria-expanded="true" aria-controls="collapse<%= level %>">
          <%= level %>
        </button>
      </h2>
      <div id="collapse<%= level %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= level %>"
        data-bs-parent="#accordion">
        <div class="accordion-body">
          <div class="row">
            <% for(let exam of exams) {%>
              <% if(exam.level.includes(level)){ %>
            <div class="col-sm-3">
              <div class="card mb-4">
                <div class="body">
             
                  <h5><%= exam.title %></h5>
                  <p class="text"><%= exam.level %></p>
                  <p class="text"><%= exam.time %></p>
                  <span class="username">Teacher: <%= exam.teacher || 'Unknown' %></span>
                  <div class="footer">
                    <div>
                      <% if (currentUserID && ((exam.author && exam.author.equals(currentUserID)) || currentUserIsAdmin)) { %>
    <a href="/exam/update/<%= exam._id %>" class="mt-2"><i class="fas fa-edit"></i></a>
<% } %>
                    </div>
                    <div>
                      <a href="/teacher/exam/<%= exam._id %>" class="mt-2"><i class="fas fa-eye"></i></a>
                    </div>
                    <div>

                                                    <button class="trash mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                      <i class="fas fa-trash"></i>
</button>

                                               
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <% }
              } %>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 <p>Are you sure you want to proceed with deleting the exam?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
     
    <% exams.forEach(exam=> { %>
      <form class="d-inline" action="/exam/<%= exam._id %>?_method=DELETE" method="post">
        <button class="btn btn-danger" data-bs-dismiss="modal">Confirm</button>
      </form>
      <% }) %>
    
      </div>
    </div>
  </div>
</div>



                                                