<% layout('/layouts/boilerplate') -%>

    <div>
        <a class="btn btn-secondary mb-3" href="/builder">Add an exam</a>
    </div>

    <div class="container">
        <div class="row">
            <% for(let exam of exams) { %>
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= exam.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= exam.subject %>
                            </h6>
                            <p class="card-text">
                                <%= exam.level %>
                            </p>
                            <p class="card-text">
                                <%= exam.term %>
                            </p>
                            <a href="/exam/update/<%= exam._id %>" class="btn btn-primary mt-2">Update Exam</a>
                            <a href="/exams/start/<%= exam._id %>" class="btn btn-primary mt-2">View Exam</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>

    <script src="/javascripts/clusterMap.js"></script>