<% layout('/layouts/adminboilerplate') -%>
    <link rel="stylesheet" href="/css/studentDash.css">

    <h1>Student List</h1>
    <div class="container ms-4">

        <div id="accordion">
            <% Object.keys(groupedStudents).forEach(level=> { %>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading<%= level %>">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse<%= level %>" aria-expanded="true"
                            aria-controls="collapse<%= level %>">
                            <%= level %>
                        </button>
                    </h2>
                    <div id="collapse<%= level %>" class="accordion-collapse collapse show"
                        aria-labelledby="heading<%= level %>" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <% Object.keys(groupedStudents[level]).forEach(time=> { %>
                                <h3>
                                    <%= time %>
                                </h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Level</th>
                                            <th>Time</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% groupedStudents[level][time].forEach(student=> { %>
                                            <tr>
                                            <td>
                                                <a href="/student/<%= student._id %>/scores">
                                                    <%= student.name %>
                                                </a>
                                            </td>
                                                <td>
                                                    <%= student.age %>
                                                </td>
                                                <td>
                                                    <%= student.gender %>
                                                </td>
                                                <td>
                                                    <%= student.level %>
                                                </td>
                                                <td>
                                                    <%= student.time %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <% }); %>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>