<% layout('/layouts/adminboilerplate') -%>
    <div class="container">
<div class="row">
<div class="col-md-6">
      <h1>
            <%= student.name %> - Scores
        </h1>
</div>
<% detailedScores.forEach(exam=> { %>
<div class="col-md-3 ms-auto">
<h1>
<%= exam.examTitle %>
</h1>
</div>
<% }) %>
</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Exam Title</th>
                    <th>Content Type</th>
                    <th>Remark</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <% detailedScores.forEach(exam=> { %>
                    <% exam.scores.forEach(content=> { %>
                        <tr>
                            <td>
                                <%= exam.examTitle %>
                            </td>
                            <td>
                                <%= content.type %>
                            </td>
                            <td>
                                <%= content.remark %>
                            </td>
                            <td>
                                <%= content.score %>
                            </td>
                        </tr>
                        <% }); %>
                            <% }); %>
            </tbody>
        </table>

<a class="btn btn-danger mt-5" href="/studentDashboard">Back</a>
    </div>