<% layout('/layouts/adminboilerplate') -%>
    <div class="container">
        <h1>
            <%= student.name %> Scores
        </h1>
        <% student.examScores.forEach(examScore=> { %>
            <% const examTitle=examScore.examId.title; %>
                <h2>
                    <%= examTitle %> Details
                </h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Content</th>
                            <th>Remark</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (examScore.examId.contents && examScore.examId.contents.length> 0) { %>
                            <% console.log('Contents:', examScore.examId.contents); %>
                                <% examScore.examId.contents.forEach(content=> { %>
                                    <tr>
                                        <td>
                                            <%= content.title %>
                                        </td>
                                        <td>
                                            <%= content.remark %>
                                        </td>
                                        <td>
                                            <%= student.contentScores[content._id.toString()] || 'N/A' %>
                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                    </tbody>
                </table>
                <p>Total Score for <%= examTitle %>: <%= examScore.score %>
                </p>
                <% }); %>
                    <p>Total Score: <%= student.examScores.reduce((acc, curr)=> acc + curr.score, 0) %></p>
    </div>