<% layout('/layouts/boilerplate') -%>
    <div class="container-md">
        <h1 class="text-center mb-5"><u>UPDATE EXAMINATION</u></h1>
        <form action="/update/<%= exam._id %>" method="POST" class="mt-4" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <!-- Title input -->
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<%= exam.title %>" required>
                    </div>
                </div>
                <div class="col">
                    <!-- Term input -->
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="term" name="term" placeholder="Term" value="<%= exam.term %>" required>
                    </div>
                </div>
                <div class="col">
                    <!-- Level select -->
                    <div data-mdb-input-init class="form-outline">
                        <select class="form-select program text-muted" aria-label="Default select example" name="level" required>
                            <option value="" disabled>Select Level</option>
                            <option value="EAL-1A" <%=exam.level==='EAL-1A' ? 'selected' : '' %>>EAL-1A</option>
                            <option value="EAL-1B" <%=exam.level==='EAL-1B' ? 'selected' : '' %>>EAL-1B</option>
                            <option value="EAL-2A" <%=exam.level==='EAL-2A' ? 'selected' : '' %>>EAL-2A</option>
                            <option value="EAL-2B" <%=exam.level==='EAL-2B' ? 'selected' : '' %>>EAL-2B</option>
                            <option value="EAL-3A" <%=exam.level==='EAL-3A' ? 'selected' : '' %>>EAL-3A</option>
                            <option value="EAL-3B" <%=exam.level==='EAL-3B' ? 'selected' : '' %>>EAL-3B</option>
                            <option value="EAL-4A" <%=exam.level==='EAL-4A' ? 'selected' : '' %>>EAL-4A</option>
                            <option value="EAL-4B" <%=exam.level==='EAL-4B' ? 'selected' : '' %>>EAL-4B</option>
                            <option value="EAL-5A" <%=exam.level==='EAL-5A' ? 'selected' : '' %>>EAL-5A</option>
                            <option value="EAL-5B" <%=exam.level==='EAL-5B' ? 'selected' : '' %>>EAL-5B</option>
                            <option value="EAL-6A" <%=exam.level==='EAL-6A' ? 'selected' : '' %>>EAL-6A</option>
                            <option value="EAL-6B" <%=exam.level==='EAL-6B' ? 'selected' : '' %>>EAL-6B</option>
                            <option value="EAL-7A" <%=exam.level==='EAL-7A' ? 'selected' : '' %>>EAL-7A</option>
                            <option value="EAL-7B" <%=exam.level==='EAL-7B' ? 'selected' : '' %>>EAL-7B</option>
                            
                        
                            <!-- Repeat for other levels -->
                        </select>
                    </div>
                </div>
                <div class="col">
                    <!-- Subject input -->
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="<%= exam.subject %>"
                            required>
                    </div>
                </div>
                <div class="col">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline">
                        <select class="form-select program text-muted" aria-label="Default select example" name="time" required>
                            <option selected disabled class="text-muted">Time</option>
                            <option value="Part-Time 1" <%=exam.time==='Part-Time 1' ? 'selected' : '' %>>Part-Time 1</option>
                            <option value="Part-Time 2" <%=exam.time==='Part-Time 2' ? 'selected' : '' %>>Part-Time 2</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <h2>Contents</h2>
            <!-- Repeat content structure for each existing content in the exam -->
            <% exam.contents.forEach((content, contentIndex)=> { %>
                <% if (content) { %>
                <div class="content mb-4">
                    <div class="row">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select class="form-select mb-2" name="contents[<%= contentIndex %>][type]" required>
                                    <option value="" disabled>Select Content Type</option>
                                    <option value="Listening" <%=content.type==='Listening' ? 'selected' : '' %>>Listening</option>
                                    <option value="Vocabulary" <%=content.type==='Vocabulary' ? 'selected' : '' %>>Vocabulary</option>
                                    <option value="Grammar" <%=content.type==='Grammar' ? 'selected' : '' %>>Grammar</option>
                                    <option value="Reading" <%=content.type==='Reading' ? 'selected' : '' %>>Reading</option>
                                    <!-- Repeat for other content types -->
                                </select>
                            </div>
                        <% if (content.type==='Listening' ) { %>
                            <div class="row">
                                <div class="col">
                                    <label for="audio_<%= contentIndex %>">Upload New Audio:</label>
                                    <input type="file" class="form-control mb-2" id="audio_<%= contentIndex %>" name="contents[<%= contentIndex %>][audio]">
                                    <% if (content.audio) { %>
                                        <p>Existing Audio URL: <%= content.audio %>
                                        </p>
                                        <% } %>
                                            </div>
                                            </div>
                                            <% } %>
                                    
                                                <% if (content.type==='Reading' ) { %>
                                                    <div class="form-outline mb-2" id="storyField_<%= contentIndex %>">
                                                        <textarea class="form-control mb-2" name="contents[<%= contentIndex %>][story]"
                                                            placeholder="Story"><%= content.story %></textarea>
                                                    </div>
                                                    <% } %>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control mb-2" name="contents[<%= contentIndex %>][remark]"
                                                                value="<%= content.remark %>">
                                                        </div>
                                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control mb-2" name="contents[<%= contentIndex %>][instruction]" value="<%=content.instruction %>">
                                            </div>
                                            <!-- Repeat question structure for each question in the content -->
                                            <% content.questions.forEach((question, questionIndex)=> { %>
                        <div class="questions">
                            <div class="question mb-2">
                                <input type="text" class="form-control mb-2"
                                    name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][question]"
                                    placeholder="Question" value="<%= question.question %>" required>
                            <input type="text" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][choices][0]" value="<%= question.choices[0] %>"
                                placeholder="Choice 1" required>
                            <input type="text" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][choices][1]" value="<%= question.choices[1] %>"
                                placeholder="Choice 2" required>
                            <input type="text" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][choices][2]" value="<%= question.choices[2] %>"
                                placeholder="Choice 3" required>
                            <input type="text" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][choices][3]" value="<%= question.choices[3] %>"
                                placeholder="Choice 3" required>
                            <input type="text" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][correctAnswer]"
                                value="<%= question.correctAnswer %>" placeholder="Correct Answer" required>
                            <input type="number" class="form-control mb-2"
                                name="contents[<%= contentIndex %>][questions][<%= questionIndex %>][points]" value="<%= question.points %>"
                                placeholder="Points" required>
                            </div>
                        </div>
                        <% }) %>
                        
                            <button type="button" class="addQuestion btn btn-primary mt-3">Add Question</button>
</div>
<% } %>
<% }) %>

            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="isPublished" name="isPublished" <% if (exam.isPublished) { %>checked
                <% } %>>
                    <label class="form-check-label" for="isPublished">Published</label>
            </div>
    <button type="button" id="addContent" class="btn btn-success mb-3">Add Content</button>
                    <button type="submit" class="btn btn-primary mb-3">Update Exam</button>
                    
        </form>
        <a href="/examdashboard" class="btn btn-success btn-md mb-3">Back</a>
    </div>
    <script src="/javascript/exam.js"></script>