<form action="/student/submit-exam" method="POST">
    <input type="hidden" name="examId" value="<%= exam._id %>">
    <% exam.contents.forEach((content, contentIndex)=> { %>
        <div class="container mb-3 p-3" style="border: 1px solid black;">
            <!-- Content Details -->
            <div class="row">
                <!-- Content Type -->
                <div class="col-md-6">
                    <h2 class="m-3">
                        <%= content.type %>
                    </h2>
                </div>
                <!-- Content Remark -->
                <div class="col-md-3 ms-auto">
                    <h5 class="m-3">(Remark: <%= content.remark %>)</h5>
                </div>
            </div>
            <!-- Content Instruction -->
            <div class="col ms-3">
                <p class="instruction"><strong>Instruction:</strong>
                    <%= content.instruction %>
                </p>
            </div>
            <!-- Audio Section -->
            <div class="row">
                <% if (content.type==='Listening' && content.audio) { %>
                    <div class="col-3">
                        <audio id="audio_<%= contentIndex %>" controls>
                            <source src="<%= content.audio %>" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary mt-2 ms-4"
                            onclick="playAudio(<%= contentIndex %>)">Play Audio</button>
                        <button type="button" class="btn btn-danger mt-2"
                            onclick="hideAudio('audio_<%= contentIndex %>')" style="display: none;">Hide
                            Audio</button>
                    </div>
                    <% } %>
            </div>
            <!-- Reading Section -->
            <div class="row d-flex justify-content-center">
                <% if (content.type==='Reading' && content.story) { %>
                    <div class="col-6 text-center">
                        <p class="text-center">
                            <%= content.story %>
                        </p>
                    </div>
                    <% } %>
            </div>
            <!-- Questions Section -->
            <% content.questions.forEach((question, index)=> { %>
                <h3>
                    <%= index + 1 %>. <%= question.question %>
                </h3>
                <% question.choices.forEach((choice, choiceIndex)=> { %>
                    <div class="form-check ms-3">
                        <input class="form-check-input" type="radio" name="answers[<%= contentIndex %>_<%= index %>]"
                            id="choice_<%= contentIndex %>_<%= index %>_<%= choiceIndex %>" value="<%= choice %>">
                        <label class="form-check-label"
                            for="choice_<%= contentIndex %>_<%= index %>_<%= choiceIndex %>">
                            <%= choice %>
                        </label>
                    </div>
                    <% }); %>
                        <% }); %>
        </div>
        <% }); %>
            <button type="submit" class="btn btn-primary mt-3 mb-3">Submit Exam</button>
            <a href="/student/exam/confirmation/<%= exam._id %>" class="btn btn-success btn-md mb-3">Back</a>
</form>