<% layout('/layouts/boilerplate') -%>
    <link rel="stylesheet" href="/css/exam.css">
<div id="timer" class="text-center mt-3 mb-4 ms-4 timer">
    Time Remaining: <span id="timeDisplay"></span>
</div>
<form id="examForm" action="/student/submit-exam" method="POST">
    <input type="hidden" name="examId" value="<%= exam._id %>">
    <% exam.contents.forEach((content, contentIndex)=> { %>
<input type="hidden" name="contentIndex" value="<%= contentIndex %>">
        <div class="container mb-3 p-5">
            <!-- Content Details -->
            <div class="row">
                <!-- Content Type -->
                <div class="col-md-6">
                    <h2 class="m-3">
                        <%= content.type %>
                    </h2>
                </div>
                <!-- Content Remark -->
                <div class="col-md-3 ms-auto">
                    <h5 class="m-3">(Remark: <%= content.remark %>)</h5>
                </div>
            </div>
            <!-- Content Instruction -->
            <div class="col ms-3">
                <p class="instruction"><strong>Instruction:</strong>
                    <%= content.instruction %>
                </p>
            </div>
            <!-- Audio Section -->
            <div class="row">
                <% if (content.type==='Listening' && content.audio) { %>
                    <div class="col-3 d-flex justify-content-center text-center mb-4">
                        <audio id="audio_<%= contentIndex %>" controls data-content-index="<%= contentIndex %>" src="<%= content.audio %>"></audio>


                        <input type="hidden" id="contentIndex" value="<%= contentIndex %>">

                    </div>

                    <% } %>
            </div>
            <!-- Reading Section -->
            <div class="row d-flex justify-content-center">
                <% if (content.type==='Reading' && content.story) { %>
                    <div class="col-9 text-center story">
                        <p class="text-center">
                            <%= content.story %>
                        </p>
                    </div>
                    <% } %>
            </div>
            <!-- Questions Section -->
            <div class="">
            <% content.questions.forEach((question, index)=> { %>
<input type="hidden" name="questionIndex" value="<%= index %>">
                <h3 class="mt-3">
                    <%= index + 1 %>. <%= question.question %>
                </h3>
            <% question.choices.forEach((choice, choiceIndex)=> { %>
                <% if (choice !=='n/a' ) { %>
                    <div class="form-check ms-3 mt-2 mb-2">
                        <input class="form-check-input" type="radio" name="answers[<%= contentIndex %>_<%= index %>]"
                            id="choice_<%= contentIndex %>_<%= index %>_<%= choiceIndex %>" value="<%= choice %>">
                        <label class="form-check-label choices" for="choice_<%= contentIndex %>_<%= index %>_<%= choiceIndex %>">
                            <%= choice %>
                        </label>
                    </div>
                    <% } %>
                        <% }); %>
                        <% }); %>
                    </div>
        </div>
        <% }); %>
            <button type="submit" class="btn btn-primary mt-3 mb-3">Submit Exam</button>
            <a href="/student/exam/confirmation/<%= exam._id %>" class="btn btn-success btn-md mt-3 mb-3">Back</a>
</form>


<script src="/javascript/showExam.js"></script>






